---
version: "{{ docker_compose_version }}"
services:
  wireguard:
    image: "{{ wg_image }}"
    container_name: "{{ wg_container_name }}"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID="{{ wg_puid }}"
      - PGID="{{ wg_guid }}"
      - TZ=Europe/Berlin
      - SERVERURL="{{ wg_server_url }}"
      - SERVERPORT="{{ wg_port }}"
      - PEERS="{{ wg_peers_count }}"
      - PEERDNS="{{ wg_dns }}"
      - INTERNAL_SUBNET="{{ wg_internal_subnet }}"
      - ALLOWEDIPS=0.0.0.0/0
      - LOG_CONFS=true
    volumes:
      - "{{ vpn_path }}/config:/config"
      - /lib/modules:/lib/modules
    ports:
      - "{{ wg_port }}":51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: always
